.grid {
    /* display: flex; */
width: 606px;
height: 606px;
 display: flex;
 flex-wrap: wrap;
}

.square {

    height: 200px;
    width: 200px;
border-style: solid;
    border-color: black;

}

.mole {
    background-image: url("images/clown.png");
    background-size: cover;
}